MINIO_API_HOST_PORT=19290
MINIO_ROOT_USER=replace-with-root-user
MINIO_ROOT_PASSWORD=replace-with-root-password
S3_BUCKET=cineweave
S3_ACCESS_KEY_ID=replace-with-application-access-key
S3_SECRET_ACCESS_KEY=replace-with-application-secret-key
